# Dependencies
node_modules

# Build
build
.react-router

# Environment
.env
.env.local
.env.*.local

# Database
prisma/dev.sqlite
prisma/dev.sqlite-journal
*.sqlite

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Docker
.docker
